<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/Bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">Tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">Tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>Tests</directory>
                <directory>Component/Library</directory>
                <directory>Views</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-html" target="/tmp/report"/>
    </logging>
</phpunit>
