<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Ratepay Payment Plugin für Shopware 5</label>
    <label>Ratepay Payment Plugin for Shopware 5</label>

    <version>6.1.0</version>
    <copyright>Copyright (c) 2020, Ratepay GmbH</copyright>
    <license>MIT</license>
    <link>https://www.ratepay.com</link>
    <author>Ratepay GmbH</author>
    <compatibility minVersion="5.5.0"/>

    <description>Ratepay enables you to accept online payments without any risk of fraud and without the hassle of debtors management.</description>
    <description lang="de">Ratepay stellt verschiedene Zahlungsarten für Ihren Onlineshop zur Verfügung, ohne dass Sie sich mit der Risikoprüfung oder dem Debitorenmanagement beschäftigen müssen.</description>

    <changelog version="6.1.0">
        <changes>
            <![CDATA[
                <ul>
                    <li>fix loading of admin components for order view (Shopware version 5.5.x)</li>
                    <li>installment calculator: fix error if user enter "0" as rate.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Behebt einen Fehler beim Laden von Admin Komponenten für die Bestellungen (Shopware Version 5.5.x) </li>
                    <li>Ratenrechner: Behebt einen Fehler, wenn der Nutzer "0" als Ratenhöhe angibt.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="6.0.5">
        <changes>
            <![CDATA[
                <ul>
                    <li>fix error message during admin order with 0% financing</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Behebt Fehlermeldung während einer Admin Bestellung mit 0% Finanzierung</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="6.0.4">
        <changes>
            <![CDATA[
                <ul>
                    <li>fix import of class</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Fehlerbehebung PHP-Klassenimport</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="6.0.3">
        <changes>
            <![CDATA[
                <ul>
                    <li>fixes loading of payment surcharges</li>
                    <li>improves admin logging component</li>
                    <li>improves admin order history component</li>
                    <li>improves bidirectionality</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Behebt einen Fehler beim Laden von Zahlungsaufschlägen</li>
                    <li>Logging Komponente im Admin verbessert</li>
                    <li>Bestell-Historie Komponente im Admin verbessert</li>
                    <li>Bidirektionalität verbessert</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="6.0.2">
        <changes>
            <![CDATA[
                <ul>
                    <li>fix fatal exception during calculation of shipping costs</li>
                    <li>added de_AT and de_CH translations</li>
                    <li>moved static texts to Shopware snippets, so that the legal textes are editable by the shop owner</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Behebt einen fatalen Fehler während der Versandkostenberechnung</li>
                    <li>de_AT und de_CH Übersetzungen wurden hinzugefügt</li>
                    <li>Die statischen Texte wurden in die Shopware Textbausteine verschoben, damit die Rechtstexte ebenfalls durch den Shopbetreiber bearbeitbar sind.</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="6.0.1">
        <changes>
            <![CDATA[
                <ul>
                    <li>Fixes some issues with the automatic bidirectionality</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Behebt einen Fehler mit der automatischen Bidirektionalität</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="6.0.0">
        <changes>
            <![CDATA[
                <h2>Important changes</h2>
                <ul>
                    <li>New plugin structure</li>
                    <li>Ratepay data input fields are now located direct at the payment method</li>
                    <li>Internal changes regarding Database structures</li>
                    <li>New Profile Configuration</li>
                    <li>the descriptor will not be saved into the attribute `attribute5` of the order anymore. now the descriptor will be saved into the attribute `ratepay_descriptor` of the order</li>
                    <li>the transaction-id will not be saved into the attribute `attribute6` of the order anymore. now the transaction-id will be saved into the field `transactionID` of the order (Shopware default)</li>
                </ul>

                <h2>Technical changes</h2>
                <ul>
                    <li>Installation via Composer is now possible</li>
                    <li>Added Shopware CLI commands to modify Ratepay orders</li>
                    <li>Now it is possible to use the request-services of the plugin to execute the operations via a custom module (please see README.md)</li>
                    <li>Integrated Ratepay-SDK (php-library) via Composer</li>
                    <li>Template-Inheritance enhancements</li>
                </ul>

                <h2>Improvements</h2>
                <ul>
                    <li>Up to 3 decimals are now possible for credit and debit operations send from the Shopware backend</li>
                    <li>New Shopware responses for Ratepay operations within the article management (Backend)</li>
                    <li>Performance optimizations for the payment method instalment in the shop frontend</li>
                    <li>Enhancements for DE and EN translations</li>
                    <li>New customer information for an updated instalment plan during the checkout process</li>
                    <li>Now the instalment calculation is automatically updated if shopping basket is modified</li>
                    <li>New IBAN validation within the checkout (structural check)</li>
                    <li>New VAT-ID validation within the checkout (structural check)</li>
                    <li>For direct debit orders the B2B-customer can now choose between company name and the combination of first- and lastname as account owner</li>
                    <li>Bug fixes in the context of VAT handling</li>
                    <li>Enabled payments for ESD products by default</li>
                    <li>Moved Profile configuration & Logging to an separate menu-entry</li>
                    <li>Now the Logging panel is resizeable and have a few new information within it.</li>
                </ul>

                <h2>New Features</h2>
                <ul>
                    <li>Now the separate configuration of the payment methods instalments and 0% financing are possible</li>
                    <li>Bidirectionality are now supported at item level (via Cronjob)</li>
                    <li>invoice number and tracking-id information are now supported and send to Ratepay</li>
                    <li>Deliver ESD products immediately after the order</li>
                    <li>Transmit additional address lines in PaymentRequest</li>
                    <li>Debit/Credit: added field to define a custom item label</li>
                </ul>
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <h2>Wichtige Änderungen</h2>
                <ul>
                    <li>Neue Plugin Struktur</li>
                    <li>Felder im Checkout sind nun direkt bei der Zahlungsart</li>
                    <li>Anpassung der Datenbankstrukturen</li>
                    <li>Neue Profile-Konfiguration</li>
                    <li>Der Verwendungszweck wird nun nicht mehr in das Freitextfeld `attribute5` gespeichert, sondern in das Freitextfeld `ratepay_descriptor` bei der Bestellung</li>
                    <li>Die Transaktions-ID wird nun nicht mehr in das Freitextfeld `attribute6` gespeichert, sondern in das Feld `transactionID` bei der Bestellung (Shopware Standard)</li>
                </ul>

                <h2>Technische Änderungen</h2>
                <ul>
                    <li>Installation via Composer</li>
                    <li>Hinzufügen von Commands um die Operationen über die Shopware CLI durchzuführen.</li>
                    <li>Nun ist es möglich mit den RequestServices Operationen über ein eigenes Modul durchzuführen (siehe README.md)</li>
                    <li>Das Ratepay-SDK (php-library) wurde nun über Composer integriert</li>
                    <li>Verbesserung Template-Inheritance</li>
                </ul>

                <h2>Verbesserungen</h2>
                <ul>
                    <li>Gutscheine und Nachbelastungen aus dem Backend können nun bis zu 3 Nachkommastellen haben</li>
                    <li>Rückmeldung wenn eine Operation in der Artikelverwaltung (Backend) ausgeführt wurde</li>
                    <li>Performanceoptimierung bei der Ratenzahlung im Frontend</li>
                    <li>Übersetzungen für die Sprachen DE und EN erstellt/verbessert</li>
                    <li>Hinweis an den Kunden, wenn sich der Ratenplan aktualisiert wurde</li>
                    <li>Änderung des Warenkorbs passt die Ratenberechnung automatisch an, ohne dass der Kunde weitere Eingaben tätigen muss</li>
                    <li>IBAN Validierung bereits im Shop (Strukturprüfung)</li>
                    <li>Ust-Id Validierung bereits im Shop (Strukturprüfung)</li>
                    <li>Bei Lastschriftzahlungen kann der Kunde im Falle einer B2B Bestellung nun auch den Firmennamen als Kontoinhaber angeben.</li>
                    <li>Fehlerbehebungen bei den Steuerangaben in den Gatewayanfragen</li>
                    <li>Aktivieren der Zahlungsart bei ESD Produkten als Standardeinstellung</li>
                    <li>Die Menüpunkte "Logging" & "Profilkonfiguration" haben nun einen eigenen Menüoberpunkt.</li>
                    <li>Die API-Log Ansicht enthält nun ein paar Informationen mehr, und kann nun vergrößert/verkleinert werden.</li>
                </ul>

                <h2>Neue Features</h2>
                <ul>
                    <li>separate Konfiguration der Zahlungsmethoden Rate und 0% Finanzierung</li>
                    <li>Bidirektionalität nun auch auf Artikelebene (via Cronjob)</li>
                    <li>Übermittlung Rechnungsnummer und Tracking-ID</li>
                    <li>Konfiguration: Versende ESD-Produkte umgehend nach der Bestellung</li>
                    <li>Konfiguration: Übertrage Adresszusatzzeilen</li>
                    <li>Nachbelastung/Gutschrift: Feld zum Definieren eines eigenen Beschreibungstext hinzugefügt</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="5.4.2">
        <changes>RATEPLUG-9: move device fingerprinting config from PROFILE_REQUEST to plugin config &amp; improve
            processing of device fingerprinting
        </changes>
        <changes>Update README version information</changes>
    </changelog>
    <changelog version="5.4.1">
        <changes>RATEPLUG-3: backend orders: fix discount item</changes>
        <changes>RATEPLUG-5: backend orders: fix shipping tax rate</changes>
    </changelog>
    <changelog version="5.4">
        <changes>fix tax rate</changes>
        <changes>fix "the service `shop` was not found"-issue in backend orders</changes>
        <changes>fix different currency issue</changes>
        <changes>update install/update/uninstall process</changes>
        <changes>fix tax issue on request if customer see only net prices.</changes>
    </changelog>
    <changelog version="5.3.10">
        <changes>fix tax rate</changes>
    </changelog>
    <changelog version="5.3.9">
        <changes>fix tax rate shipping for shopware versions 5.5.0
        </changes>
    </changelog>
    <changelog version="5.3.8">
        <changes>fix mix tax rate shipping</changes>
    </changelog>
    <changelog version="5.3.7">
        <changes>fix aggregation of discount items</changes>
        <changes>fix mix tax rate baskets</changes>
    </changelog>
    <changelog version="5.3.6">
        <changes>add functionality for discount as seperate basket-item</changes>
    </changelog>
    <changelog version="5.3.5">
        <changes>Improve backend-side validation of user inputs</changes>
        <changes>Interrupt checkout process if errors found</changes>
        <changes>Cross-Browser implementation</changes>
    </changelog>
    <changelog version="5.3.4">
        <changes>Extend date of birth validation for correct inputs</changes>
    </changelog>
    <changelog version="5.3.3">
        <changes>Fix Ratepay GmbH Legal link</changes>
    </changelog>
    <changelog version="5.3.2">
        <changes>Fix whitespaces in date of birth fields</changes>
        <changes>Fix incorrect tax-id for delivery cost items</changes>
    </changelog>
    <changelog version="5.3.1">
        <changes>Fix unregistered templates/controllers after update</changes>
        <changes>Fix incorrect tax-id for debit/credit items</changes>
    </changelog>
    <changelog version="5.3.0">
        <changes>Improve client side dob validation</changes>
        <changes>Improve bidirectionality process</changes>
        <changes>Add prepayment</changes>
        <changes>Add Shopware 5.5 compatibility</changes>
        <changes>Add configurable payment states</changes>
    </changelog>
    <changelog version="5.2.6">
        <changes>fix ignored updates in bidirectional process</changes>
        <changes>fix usage of addresses for shipping/billing during checkout</changes>
    </changelog>
    <changelog version="5.2.5">
        <changes>fix cronjob duplications during update</changes>
        <changes>fix global namespacing to php and shopware classes</changes>
        <changes>fix uninstall routine to remove menues</changes>
        <changes>improve stability of update routine</changes>
    </changelog>
    <changelog version="5.2.4">
        <changes>Fix Update Function</changes>
        <changes>Update Readme</changes>
        <changes>Fix and Wrap Logging, Should use Container</changes>
        <changes>Fix Rounding Discrepancies in Shops with Net Prices</changes>
        <changes>Fix extra indents of code and PSR2 formatting</changes>
        <changes>Put util in psr4 namespace</changes>
    </changelog>
    <changelog version="5.2.3">
        <changes>Fix tax on shipping item in backend orders</changes>
        <changes>Improve compatibility with other (payment) modules</changes>
        <changes>Extend plugin update function to preserve backend credentials</changes>
        <changes>Fix problems with partial send/cancel/return operations</changes>
        <changes>Fix payment request error on versions of Shopware earlier than 5.2.0</changes>
    </changelog>
    <changelog version="5.2.2">
        <changes>hotfix cronjob install in older shopware versions fails if entry already exists</changes>
    </changelog>
    <changelog version="5.2.1">
        <changes>hotfix cronjob class not found error</changes>
    </changelog>
    <changelog version="5.2.0">
        <changes>add ability to create backend orders</changes>
        <changes>add system-wide support for customer groups with net prices</changes>
    </changelog>
    <changelog version="5.1.1">
        <changes>hotfix plugin update function</changes>
    </changelog>
    <changelog version="5.1.0">
        <changes>add compatibility to PHP-7.2</changes>
        <changes>frontend changes on checkout/payment pages</changes>
        <changes>add setting to handle shipping-item with older API</changes>
        <changes>manage custom attributes via CrudService</changes>
        <changes>add common getter to identify installment-elv</changes>
    </changelog>
    <changelog version="5.0.7">
        <changes>add complete bidirectionally</changes>
        <changes>add batch processing</changes>
        <changes>refactor Bootstrap</changes>
        <changes>fix alternative address option</changes>
    </changelog>
    <changelog version="5.0.6">
        <changes>remove special company name field</changes>
        <changes>add terms and conditions</changes>
    </changelog>
    <changelog version="5.0.5.1">
        <changes>add downward compatibility for old module</changes>
    </changelog>
    <changelog version="5.0.5">
        <changes>no partial delivery for installments</changes>
        <changes>fix b2b product calculation</changes>
        <changes>remove vatId for b2b customers</changes>
        <changes>fix order delete function</changes>
    </changelog>
    <changelog version="5.0.4.1">
        <changes>change company address</changes>
    </changelog>
    <changelog version="5.0.4">
        <changes>add payment method installment 0 %</changes>
        <changes>code refactoring</changes>
        <changes>add optional payment confirm</changes>
    </changelog>
    <changelog version="5.0.3">
        <changes>add country belgium</changes>
        <changes>add country netherlands</changes>
        <changes>add language EN, NL and FR</changes>
    </changelog>
    <changelog version="5.0.2">
        <changes>fix multishops</changes>
    </changelog>
    <changelog version="5.0.1">
        <changes>new installment calculator design</changes>
        <changes>make automatic profile request after module update</changes>
        <changes>fix bank account autofill problem</changes>
    </changelog>
    <changelog version="5.0.0">
        <changes>change the requests to ne new ratepay library</changes>
        <changes>add php 7 compatibility</changes>
        <changes>add bidirectional function</changes>
    </changelog>
    <changelog version="4.3.0">
        <changes>add backend panels without overwriting them</changes>
        <changes>compatibility for Shopware 5.4.0</changes>
    </changelog>
    <changelog version="4.2.93">
        <changes>change company address</changes>
    </changelog>
    <changelog version="4.2.92">
        <changes>fix credit/debit bug</changes>
    </changelog>
    <changelog version="4.2.91">
        <changes>fix for checkout javascript problem</changes>
    </changelog>
    <changelog version="4.2.9">
        <changes>change installment elv payment information</changes>
    </changelog>
    <changelog version="4.2.8">
        <changes>fix responsive mobile view</changes>
    </changelog>
    <changelog version="4.2.7">
        <changes>add payment method installment elv</changes>
    </changelog>
    <changelog version="4.2.6">
        <changes>add debit backend function</changes>
        <changes>add functionality to refill the inventory after cancellation/retour</changes>
        <changes>Fix no debit/credit after retour/cancellation</changes>
        <changes>Fix no shipping after cancellation</changes>
        <changes>Fix no cancellation after shipping</changes>
        <changes>Fix no retour before shipping</changes>
    </changelog>
    <changelog version="4.2.5">
        <changes>SEPA - BIC field removed</changes>
        <changes>IBAN country prefix validation removed</changes>
    </changelog>
    <changelog version="4.2.4">
        <changes>Fixed DOB issue</changes>
    </changelog>
    <changelog version="4.2.3">
        <changes>Fixed sandbox warning</changes>
    </changelog>
    <changelog version="4.2.2">
        <changes>Improved payment method activation routine</changes>
        <changes>Added invoicing block inside CONFIRMATION DELIVER</changes>
        <changes>Improved customer messages in refusals (Extended Response)</changes>
        <changes>Few frontend changes</changes>
        <changes>Changed controller&amp;action check in preValidation to avoid trouble with third party plugin
            controllers
        </changes>
        <changes>Transferred rate calc necessary values to DB and removed CONFIGURATION REQUEST</changes>
        <changes>Checkout warning in case of sandbox mode</changes>
        <changes>Implemented additional max limit on b2b orders</changes>
        <changes>Fixed payment change credit method</changes>
    </changelog>
    <changelog version="4.2.1">
        <changes>Date of payment is now set automatically (cleareddate)</changes>
        <changes>Improved detection of divergent shipping address (Shopware >=5.2.0)</changes>
        <changes>Remove deprecated Ratepay additional order attributes on update</changes>
    </changelog>
    <changelog version="4.2.0">
        <changes>Mapping of new SWAG address management (Compatibility with Shopware 5.2.x)</changes>
        <changes>CSRF protection implemented (Compatibility with Shopware 5.2.x)</changes>
        <changes>Fixed compatibility with SWAG import/export function</changes>
        <changes>Improved DFP creation</changes>
        <changes>Compatibility with CH and CHF</changes>
        <changes>Further minor changes and fixes</changes>
    </changelog>
    <changelog version="4.1.5">
        <changes>Adjusted frontend controller URL (SSL)</changes>
        <changes>Conveyed sUniqueID to checkout controller</changes>
    </changelog>
    <changelog version="4.1.4">
        <changes>Payment information additionally saved in order additional fields</changes>
    </changelog>
    <changelog version="4.1.3">
        <changes>Compatibility with deactivated conditions checkbox</changes>
    </changelog>
    <changelog version="4.1.2">
        <changes>Fixed get sandbox bug</changes>
        <changes>Changed ZGB/DSE link in SEPA text</changes>
        <changes>Enhanced unistall - deleting of Ratepay order attributes</changes>
        <changes>Ratepay order attributes now nullable</changes>
        <changes>Prevented error in case of call by crawler</changes>
        <changes>DOB not requested anymore in case of b2b</changes>
        <changes>Improved DFP token creation</changes>
    </changelog>
    <changelog version="4.1.1">
        <changes>Fixed DFP</changes>
        <changes>Fixed DFP DB update bug</changes>
        <changes>Fixed JS checkout form validation</changes>
        <changes>Fixed JS not defined resources</changes>
        <changes>Fixed JS checkout button hook</changes>
        <changes>Fixed RR curl bug</changes>
        <changes>New DB update procedure</changes>
        <changes>No hiding of payment methods in sandbox mode</changes>
        <changes>Account holder is always customer name by billing address</changes>
        <changes>Redesign of rejection page</changes>
    </changelog>
    <changelog version="4.1.0">
        <changes>fixed compatibility for 5.0.4 - 5.1.1</changes>
        <changes>added device-fingerprinting</changes>
        <changes>fixed frontend validation</changes>
        <changes>fixed DB allows NULL</changes>
        <changes>fixed backend tab "Artikelverwaltung"</changes>
    </changelog>
    <changelog version="4.0.3">
        <changes>Refactored module logic</changes>
    </changelog>
    <changelog version="4.0.2">
        <changes>fixed bug for adjusting correct payment status and oder status</changes>
        <changes>fixed bug in address validation</changes>
    </changelog>
    <changelog version="4.0.1">
        <changes>fixed SSL &amp; CURL bug</changes>
        <changes>fixed problems with combined field (street+number)</changes>
    </changelog>
    <changelog version="4.0.0">
        <changes>Shopware 5 module (without responsive design support)</changes>
    </changelog>
</plugin>
