<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020 RatePAY GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="button">
            <name>ratepay/buttons/button1</name>
            <label lang="en">Credentials for Germany</label>
            <label lang="de">Zugangsdaten für Deutschland:</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/frontend/id</name>
            <label lang="en">Profile-ID for Germany</label>
            <label lang="de">Deutschland Profile-ID</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/frontend/security_code</name>
            <label lang="en">Security Code for Germany</label>
            <label lang="de">Deutschland Security Code</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/frontend/id/installment0</name>
            <label lang="en">Profile-ID for Germany (0% financing)</label>
            <label lang="de">Deutschland Profile-ID (0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/frontend/security_code/installment0</name>
            <label lang="en">Security Code for Germany (0% financing)</label>
            <label lang="de">Deutschland Security Code(0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/backend/id</name>
            <label lang="en">Profile-ID for Germany (Backend)</label>
            <label lang="de">Deutschland Profile-ID (Backend)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/backend/security_code</name>
            <label lang="en">Security Code for Germany (Backend)</label>
            <label lang="de">Deutschland Security Code (Backend)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/backend/id/installment0</name>
            <label lang="en">Profile-ID for Germany (Backend - 0% financing)</label>
            <label lang="de">Deutschland Profile-ID (Backend - 0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/de/backend/security_code/installment0</name>
            <label lang="en">Security Code for Germany (Backend - 0% financing)</label>
            <label lang="de">Deutschland Security Code (Backend- 0% Finanzierung)</label>
        </element>


        <element type="button">
            <name>ratepay/buttons/button2</name>
            <label lang="en">Credentials for Austria</label>
            <label lang="de">Zugangsdaten für Österreich:</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/frontend/id</name>
            <label lang="en">Profile-ID for Austria</label>
            <label lang="de">Österreich Profile-ID</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/frontend/security_code</name>
            <label lang="en">Security Code for Austria</label>
            <label lang="de">Österreich Security Code</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/frontend/id/installment0</name>
            <label lang="en">Profile-ID for Austria (0% financing)</label>
            <label lang="de">Österreich Profile-ID (0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/frontend/security_code/installment0</name>
            <label lang="en">Security Code for Austria (0% financing)</label>
            <label lang="de">Österreich Security Code (0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/backend/id</name>
            <label lang="en">Profile-ID for Austria (Backend)</label>
            <label lang="de">Österreich Profile-ID (Backend)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/backend/security_code</name>
            <label lang="en">Security Code for Austria (Backend)</label>
            <label lang="de">Österreich Security Code (Backend)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/backend/id/installment0</name>
            <label lang="en">Profile-ID for Austria (Backend - 0% financing)</label>
            <label lang="de">Österreich Profile-ID (Backend - 0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/at/backend/security_code/installment0</name>
            <label lang="en">Security Code for Austria (Backend - 0% financing)</label>
            <label lang="de">Österreich Security Code (Backend - 0% Finanzierung)</label>
        </element>

        <element type="button">
            <name>ratepay/buttons/button3</name>
            <label lang="en">Credentials for Switzerland</label>
            <label lang="de">Zugangsdaten für die Schweiz:</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/ch/frontend/id</name>
            <label lang="en">Profile-ID for Switzerland</label>
            <label lang="de">Schweiz Profile-ID</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/ch/frontend/security_code</name>
            <label lang="en">Security Code for Switzerland</label>
            <label lang="de">Schweiz Security Code</label>
        </element>
        <!--element type="text" scope="shop">
            <name>ratepay/profile/ch/frontend/id/installment0</name>
            <label lang="en">Profile-ID for Switzerland (0% financing)</label>
            <label lang="de">Schweiz Profile-ID (0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/ch/frontend/security_code/installment0</name>
            <label lang="en">Security Code for Switzerland (0% financing)</label>
            <label lang="de">Schweiz Security Code (0% Finanzierung)</label>
        </element-->
        <element type="text" scope="shop">
            <name>ratepay/profile/ch/backend/id</name>
            <label lang="en">Profile-ID for Switzerland (Backend)</label>
            <label lang="de">Schweiz Profile-ID (Backend)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/ch/backend/security_code</name>
            <label lang="en">Security Code for Switzerland (Backend)</label>
            <label lang="de">Schweiz Security Code (Backend)</label>
        </element>
        <!--element type="text" scope="shop">
            <name>ratepay/profile/ch/backend/id/installment0</name>
            <label lang="en">Profile-ID for Switzerland (Backend - 0% financing)</label>
            <label lang="de">Schweiz Profile-ID (Backend - 0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/ch/backend/security_code/installment0</name>
            <label lang="en">Security Code for Switzerland (Backend - 0% financing)</label>
            <label lang="de">Schweiz Security Code (Backend - 0% Finanzierung)</label>
        </element-->


        <element type="button">
            <name>ratepay/buttons/button4</name>
            <label lang="en">Credentials for Belgium</label>
            <label lang="de">Zugangsdaten für Belgien:</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/be/frontend/id</name>
            <label lang="en">Profile-ID for Belgium</label>
            <label lang="de">Belgien Profile-ID</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/be/frontend/security_code</name>
            <label lang="en">Security Code for Belgium</label>
            <label lang="de">Belgien Security Code</label>
        </element>
        <!--element type="text" scope="shop">
            <name>ratepay/profile/be/frontend/id/installment0</name>
            <label lang="en">Profile-ID for Belgium (0% financing)</label>
            <label lang="de">Belgien Profile-ID (0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/be/frontend/security_code/installment0</name>
            <label lang="en">Security Code for Belgium (0% financing)</label>
            <label lang="de">Belgien Security Code (0% Finanzierung)</label>
        </element-->
        <element type="text" scope="shop">
            <name>ratepay/profile/be/backend/id</name>
            <label lang="en">Profile-ID for Belgium (Backend)</label>
            <label lang="de">Belgien Profile-ID (Backend)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/be/backend/security_code</name>
            <label lang="en">Security Code for Belgium (Backend)</label>
            <label lang="de">Belgien Security Code (Backend)</label>
        </element>
        <!--element type="text" scope="shop">
            <name>ratepay/profile/be/backend/id/installment0</name>
            <label lang="en">Profile-ID for Belgium (Backend - 0% financing)</label>
            <label lang="de">Belgien Profile-ID (Backend - 0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/be/backend/security_code/installment0</name>
            <label lang="en">Security Code for Belgium (Backend - 0% financing)</label>
            <label lang="de">Belgien Security Code (Backend - 0% Finanzierung)</label>
        </element-->


        <element type="button">
            <name>ratepay/buttons/button5</name>
            <label lang="en">Credentials for the Netherlands</label>
            <label lang="de">Zugangsdaten für die Niederlande:</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/nl/frontend/id</name>
            <label lang="en">Profile-ID for the Netherlands</label>
            <label lang="de">Niederlande Profile-ID</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/nl/frontend/security_code</name>
            <label lang="en">Security Code for the Netherlands</label>
            <label lang="de">Niederlande Security Code</label>
        </element>
        <!--element type="text" scope="shop">
            <name>ratepay/profile/nl/frontend/id/installment0</name>
            <label lang="en">Profile-ID for Netherlands (0% financing)</label>
            <label lang="de">Niederlande Profile-ID (0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/nl/frontend/security_code/installment0</name>
            <label lang="en">Security Code for the Netherlands (0% financing)</label>
            <label lang="de">Niederlande Security (0% Finanzierung)</label>
        </element-->
        <element type="text" scope="shop">
            <name>ratepay/profile/nl/backend/id</name>
            <label lang="en">Profile-ID for the Netherlands (Backend)</label>
            <label lang="de">Niederlande Profile-ID (Backend)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/nl/backend/security_code</name>
            <label lang="en">Security Code for the Netherlands (Backend)</label>
            <label lang="de">Niederlande Security Code (Backend)</label>
        </element>
        <!--element type="text" scope="shop">
            <name>ratepay/profile/nl/frontend/id/installment0</name>
            <label lang="en">Profile-ID for Netherlands (0% financing)</label>
            <label lang="de">Niederlande Profile-ID (Backend - 0% Finanzierung)</label>
        </element>
        <element type="text" scope="shop">
            <name>ratepay/profile/nl/frontend/security_code/installment0</name>
            <label lang="en">Security Code for the Netherlands (0% financing)</label>
            <label lang="de">Niederlande Security (Backend - 0% Finanzierung)</label>
        </element-->


        <element type="button">
            <name>ratepay/buttons/button6</name>
            <label lang="en">Bidirectional Sync for Ratepay Orders</label>
            <label lang="de">Bidirektionalität Ratepay-Bestellungen:</label>
        </element>
        <element required="true" type="boolean">
            <name>ratepay/bidirectional/enable</name>
            <label lang="en">Activate bidirectional sync</label>
            <label lang="de">Bidirektionalität aktivieren</label>
            <description lang="en">Updates will be automatically sent to Ratepay, whenever order status has been
                changed.
            </description>
            <description lang="de">Automatische Operationen an RatePAY senden, wenn sich der Bestellstatus einer
                Ratepay-Bestellung ändert
            </description>
        </element>
        <element required="true" type="combo">
            <name>ratepay/bidirectional/status/full_delivery</name>
            <label lang="en">Status for `delivery completed`</label>
            <label lang="de">Status für Volllieferung</label>
            <value>7</value>
            <store>base.OrderStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/bidirectional/status/full_cancellation</name>
            <label lang="en">Status for `cancelled`</label>
            <label lang="de">Status für Vollstornierung</label>
            <value>4</value>
            <store>base.OrderStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/bidirectional/status/full_return</name>
            <label lang="en">Status for `returned`</label>
            <label lang="de">Status für Vollretournierung</label>
            <value>4</value>
            <store>base.OrderStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>

        <element type="button">
            <name>ratepay/buttons/button61</name>
            <label lang="en">Bidirectional Sync for Ratepay Orders (Positions):</label>
            <label lang="de">Bidirektionalität Ratepay-Bestellungen (Bestellpositionen):</label>
        </element>
        <element required="true" type="boolean">
            <name>ratepay/bidirectional/position/enable</name>
            <label lang="en">Activate bidirectional sync</label>
            <label lang="de">Bidirektionalität aktivieren</label>
            <description lang="en">Updates will be automatically sent to Ratepay, whenever position status has been
                changed.
            </description>
            <description lang="de">Automatische Operationen an Ratepay senden, wenn sich der Status einer Position ändert
            </description>
        </element>
        <element required="true" type="combo">
            <name>ratepay/bidirectional/position/status/full_delivery</name>
            <label lang="en">Status for `delivery completed`</label>
            <label lang="de">Status für Volllieferung</label>
            <value>3</value>
            <store>Shopware.apps.Base.store.PositionStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/bidirectional/position/status/full_cancellation</name>
            <label lang="en">Status for `cancelled`</label>
            <label lang="de">Status für Vollstornierung</label>
            <value>2</value>
            <store>Shopware.apps.Base.store.PositionStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/bidirectional/position/status/full_return</name>
            <label lang="en">Status for `returned`</label>
            <label lang="de">Status für Vollretournierung</label>
            <value>155</value>
            <store>Shopware.apps.Base.store.PositionStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>

        <element type="button">
            <name>ratepay/buttons/button7</name>
            <label lang="en">Advanced Settings</label>
            <label lang="de">Erweiterte Einstellungen</label>
        </element>
        <element required="true" type="boolean">
            <name>ratepay/advanced/use_fallback_shipping_item</name>
            <label lang="en">Send shipping costs as basket item</label>
            <label lang="de">Übertrage Versandkosten als Warenkorbposition</label>
            <value>0</value>
        </element>
        <element required="true" type="boolean">
            <name>ratepay/advanced/use_fallback_discount_item</name>
            <label lang="en">Send discount as basket item</label>
            <label lang="de">Übertrage Versandkosten als Warenkorbposition</label>
            <value>0</value>
        </element>
        <element required="true" type="boolean">
            <!-- @deprecated (added in version v6.0.0 - remove it latest in version v6.2)-->
            <name>ratepay/advanced/installment_direct_delivery</name>
            <label lang="en">Commit "Deliveries" directly to the gateway (only rate/installment payments)</label>
            <label lang="de">Übertrage die "Lieferung" einzelner Positionen direkt an das Gateway (nur
                Ratenzahlungen/Finanzierungen)
            </label>
            <value>1</value>
            <description lang="en">We recommend that this value is set to `Yes` cause this function will be removed in
                further versions. So in further releases all items can be send directly
            </description>
            <description lang="de">Wir empfehlen diesen Wert auf `Ja` zu setzen, da in kommenden Versionen diese
                Funktionalität entfernt wird. In Zukunft können dann alle Positionen direkt versendet werden.
            </description>
        </element>

        <element type="button">
            <name>ratepay/buttons/button8</name>
            <label lang="en">Order states after ordering</label>
            <label lang="de">Zahlstatus nach der Bestellung</label>
        </element>
        <element required="true" type="combo">
            <name>ratepay/status/rpayratepayinvoice</name>
            <label lang="en">Paymentstate after invoice payment</label>
            <label lang="de">Zahlstatus nach Zahlung mit Kauf auf Rechnung</label>
            <value>12</value>
            <store>base.PaymentStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/status/rpayratepaydebit</name>
            <label lang="en">Paymentstate after direct debit payment</label>
            <label lang="de">Zahlstatus nach Zahlung mit Lastschrift</label>
            <value>12</value>
            <store>base.PaymentStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/status/rpayratepayrate</name>
            <label lang="en">Paymentstate after installment payment</label>
            <label lang="de">Status nach Zahlung mit Ratezahlung</label>
            <value>12</value>
            <store>base.PaymentStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/status/rpayratepayrate0</name>
            <label lang="en">Paymentstate after zero percent installment payment</label>
            <label lang="de">Zahlstatus nach Zahlung mit Nullprozent-Finanzierung</label>
            <value>12</value>
            <store>base.PaymentStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>
        <element required="true" type="combo">
            <name>ratepay/status/rpayratepayprepayment</name>
            <label lang="en">Paymentstate after pre-payment</label>
            <label lang="de">Zahlstatus nach Zahlung mit Vorauskasse</label>
            <value>12</value>
            <store>base.PaymentStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>

        <element type="button">
            <name>ratepay/buttons/button10</name>
            <label lang="en">Device fingerprinting</label>
            <label lang="de">Device fingerprinting</label>
        </element>
        <element required="true" type="text">
            <name>ratepay/dfp/snippet_id</name>
            <label lang="en">Snippet ID</label>
            <label lang="de">Snippet ID</label>
            <value>ratepay</value>
        </element>

        <!-- old fields - got renamed/removed in plugin install/update -->
        <element><name>RatePayProfileIDDE</name><label>RatePayProfileIDDE</label></element>
        <element><name>RatePaySecurityCodeDE</name><label>RatePaySecurityCodeDE</label></element>
        <element><name>RatePayProfileIDDEBackend</name><label>RatePayProfileIDDEBackend</label></element>
        <element><name>RatePaySecurityCodeDEBackend</name><label>RatePaySecurityCodeDEBackend</label></element>
        <element><name>RatePayProfileIDAT</name><label>RatePayProfileIDAT</label></element>
        <element><name>RatePaySecurityCodeAT</name><label>RatePaySecurityCodeAT</label></element>
        <element><name>RatePayProfileIDATBackend</name><label>RatePayProfileIDATBackend</label></element>
        <element><name>RatePaySecurityCodeATBackend</name><label>RatePaySecurityCodeATBackend</label></element>
        <element><name>RatePayProfileIDCH</name><label>RatePayProfileIDCH</label></element>
        <element><name>RatePaySecurityCodeCH</name><label>RatePaySecurityCodeCH</label></element>
        <element><name>RatePayProfileIDCHBackend</name><label>RatePayProfileIDCHBackend</label></element>
        <element><name>RatePaySecurityCodeCHBackend</name><label>RatePaySecurityCodeCHBackend</label></element>
        <element><name>RatePayProfileIDBE</name><label>RatePayProfileIDBE</label></element>
        <element><name>RatePaySecurityCodeBE</name><label>RatePaySecurityCodeBE</label></element>
        <element><name>RatePayProfileIDBEBackend</name><label>RatePayProfileIDBEBackend</label></element>
        <element><name>RatePaySecurityCodeBEBackend</name><label>RatePaySecurityCodeBEBackend</label></element>
        <element><name>RatePayProfileIDNL</name><label>RatePayProfileIDNL</label></element>
        <element><name>RatePaySecurityCodeNL</name><label>RatePaySecurityCodeNL</label></element>
        <element><name>RatePayProfileIDNLBackend</name><label>RatePayProfileIDNLBackend</label></element>
        <element><name>RatePaySecurityCodeNLBackend</name><label>RatePaySecurityCodeNLBackend</label></element>
        <element><name>RatePayBidirectional</name><label>RatePayBidirectional</label></element>
        <element><name>RatePayFullDelivery</name><label>RatePayFullDelivery</label></element>
        <element><name>RatePayFullCancellation</name><label>RatePayFullCancellation</label></element>
        <element><name>RatePayFullReturn</name><label>RatePayFullReturn</label></element>
        <element><name>RatePayUseFallbackShippingItem</name><label>RatePayUseFallbackShippingItem</label></element>
        <element><name>RatePayUseFallbackDiscountItem</name><label>RatePayUseFallbackDiscountItem</label></element>
        <element><name>RatePayInvoicePaymentStatus</name><label>RatePayInvoicePaymentStatus</label></element>
        <element><name>RatePayDebitPaymentStatus</name><label>RatePayDebitPaymentStatus</label></element>
        <element><name>RatePayInstallmentPaymentStatus</name><label>RatePayInstallmentPaymentStatus</label></element>
        <element><name>RatePayInstallment0PaymentStatus</name><label>RatePayInstallment0PaymentStatus</label></element>
        <element><name>RatePayPrepaidPaymentStatus</name><label>RatePayPrepaidPaymentStatus</label></element>
    </elements>
</config>
