@charset "utf-8";

.rpContainer {
    width: 120%;
}
.rp-installment-plan-description {
    display: none;
    position: absolute;
    margin-top: -5px;
}
#rp-installment-plan-details {
    display: none;
}
#rp-installment-plan-no-details {
    display: block;
}
#rp-hide-installment-plan-details {
    display: none;
}
#rp-show-installment-plan-details {
    display: block;
}
.rp-table-striped {
    width: 90%;
}
.col-md-10 {
    width: 83.33333333%;
}
.rp-menue,
.rp-installment-plan-details,
.rp-installment-plan-no-details {
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 0px 3px;
    padding: 13px 6px;
}

.rp-installment-plan-details:nth-child(odd) {
    background-color: #f9f9f9;
}
.rp-details-icon {
    float: right;
    padding: 5px;

}
.rp-installment-plan-title {
    float: left;
}
.warning {
    background-color: #fcf8e3;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px 0px;
}
.text-center {
    padding: 10px 0px;
    border-top: 1px solid #ddd
}
.rp-sepa-form {
    width: 80%;
    margin-left: 14px;
}
.rp-sepa-table {
    margin-left: -10px;
}
.text-right {
    text-align: right;
}
.small {
    font-size: 85%;
}
.rp-special-item {
    margin-left: 5px;
}
.rp-link {
    margin-left: 20px
}
#rp-sepa-agreement {
    margin-left: 5px
}
.form-group input, .form-group label {
    margin-left: 5px
}
#rp-switch-payment-type-direct-debit, #rp-rate-elv {
    display: none;
}
#rp-iban-account-number {
    display: block;
}
.rp-payment-type-switch {
    text-decoration: underline;
}
.col-md-5 {
    width: 41.66666667%;
    float: left;
    margin-right: 5px;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.text-center {
    padding: 10px 0px;
    border-top: 1px solid #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body {
    padding: 15px;
    box-sizing: border-box;
    min-height: 68px;
}
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    float: none;
    display: table-cell;
    width: 1%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.btn-group-justified>.btn-group .btn {
    width: 100%;
    text-align: center;
}
.col-md-11 {
    width: 91.66666667%;
}
.col-md-11, .col-md-12 {
    float: left;
}
.col-md-11 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.warning {
    background-color: #fcf8e3;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px 0px;
}
.rp-table-striped {
    width: 90%;
}
.text-center {
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}