.ratepay-payment-method {
  @import 'components/bootstrap/bootstrap-grid';
  @import 'components/bootstrap/bootstrap-form-group';
  @import 'components/bootstrap/fixes';
  @import 'components/bootstrap/xxs';
}
@import 'components/installment';

@media (min-width: 992px) {
  .birthday-group-label {
    margin-top: 35px;
    display: block;
  }
}
.birthday-input-group {
  & > .row {
    margin: 0;
    padding: 0;
  }
  @media (max-width: 480px) {
    .row > div + div {
        margin-top: 5px;
    }
    label {
      padding: 10px 0;
      line-height: 1.5;
    }
  }
}
@media (min-width: 768px) {
  .bank-account-input,
  .phone-input {
    .col-form-label {
      padding: 10px;
      line-height: 1.5;
    }
  }
}


.ratepay-payment-method {
  input[type="text"], select {
    width: 100%;
  }
  label {
    margin: 0;
  }
}
