.ratepay-payment-method {
  @import 'components/bootstrap/bootstrap-grid';
  @import 'components/bootstrap/bootstrap-form-group';
  @import 'components/bootstrap/fixes';
  @import 'components/bootstrap/xxs';
}
@import 'components/installment';

@media (min-width: 992px) {
  .birthday-group-label {
    margin-top: 35px;
    display: block;
  }
}
.register--birthdate > .row > div {
  & > .row {
    margin: 0;
    & > div {
      padding: 0;
    }
  }
  @media (max-width: 480px) {
    & + div {
      margin-top: 10px;
    }
    label {
      line-height: 36px;
    }
  }
  label {
    margin: 0;
  }
  input {
    width: 100%;
  }
}
input#ratepay_phone {
  width: 100%;
}
